.actionsToolBar {
  padding: 0px;
  margin: 0px 0px 2px 0px;
  float:right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.actionsToolBarEditButton,
.actionsToolBarDeleteButton {
  font-size: 20px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
  color:lightgrey;
}

.actionsToolBarEditButton:hover {
  color: grey;
}

.actionsToolBarDeleteButton:hover {
  color: red;
}
