.categoriesContainer {
  margin-left: 15px;
}

.categoriesHeader {
  font-size: 26px;
  margin: 0px;
}

.categoryNames {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.categoryName, .selectedCategoryName {
  font-size: 24px;
  margin-left: 15px;
  margin-bottom: 15px;
  float: left;
  cursor: pointer;
  border-bottom:1px solid;
}

.selectedCategoryName {
  border-bottom: 0px;
  cursor: default;
}
