.commentsContainer {
  clear: left;
  margin-top: 24px;
}

.commentsList {
  margin-top: 16px;
}

.commentsHeader {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
}

.commentsNoResultsFound {
  clear: right;
  margin-top: 16px;
  margin-left: 15px;
  font-size: 15px;
  font-style: oblique;
}

.addNewComment {
  cursor: default;
  float: right;
  border-bottom:1px solid;
}

.addNewComment:hover {
  cursor: pointer;
  color: blue;
}
