.postsContainer {
  clear: left;
  margin-left: 15px;
  padding: 0px;
}

.postsHeader {
  font-size: 26px;
  margin: 0px;
}

.postsNoResultsFound {
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: oblique;
}
