.postsContainer {
  clear: left;
  margin-left: 15px;
  padding: 0px;
}

.postsHeader {
  font-size: 26px;
  margin: 0px;
}

.postsNoResultsFound {
  margin-left: 15px;
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 18px;
  font-style: oblique;
}

.postDetailsModal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.postDetailsOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.addNewPost {
  cursor: default;
  float: right;
  border-bottom:1px solid;
}

.addNewPost:hover {
  cursor: pointer;
  color: blue;
}
