.postsSortByPickerContainer {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 0px;
}

.postsSortByPickerHeader {
  font-size: 26px;
  margin: 0px;
}

.postsSortByPickerMethod {
  font-size: 24px;
  margin-left: 15px;    
}
